.git
.github
.next
.venv
**/.venv
**/.next
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/__pycache__
**/node_modules
**/test-results
**/playwright-report
docs
*.log
.env
**/.env
**/.env.*
!**/.env.example
